<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiweile.mapper.GoodsMapper">

    <resultMap id="GoodsResultMap" type="Goods">
        <result property="storeHouse" column="storehouse"></result>


    </resultMap>
</mapper>